*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  background-image: url(18897488866_daf22aab6b_5k.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: rgb(0 208 207);
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  padding: 10rem 0;
}

.imatge {
  width: 300px;
  height: 205.5px;
  margin: auto;
}

.imatge img {
  width: 100%;
  height: 100%;
}